@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

nav {
    background-color: rgb(44, 101, 124);
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px;
    height: 36px;
/**Nav Bar Fixed**/    
    position: fixed;
    top: 0;
    width: 100%;
}

.primary-nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Poppins;
    font-weight:  400;
}
.primary-nav a:hover {
    background: rgb(6, 73, 100);
    color: white;
    margin: 0;
}

body {
    background: white;
    margin: 0;
    font-family: Poppins;
    font-weight: 300;
}

/**About Section**/

#aboutMe {
    height: 800px;
    display: flex;
    justify-content: center;
}
.body-box-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.body-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    padding: 5px;
    height: 500px
}
.body-left {
    padding: 20px;
    text-align: center;
}
.body-right {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 450px;
    padding: 20px;
    color: rgb(20, 20, 20);
}
.profile-pic {
    width: 250px;
    border-radius: 8px;
}
h2 {
    margin: 0;
    color:rgb(20, 20, 20);
}

.brand-statement {
    width: 500px;
}

/**Social Network**/

.socials {
    font-weight: 500;
}
.socials-link {
    padding: 4px;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    width: 200px;
    font-weight: regular;
}
.social-icon img{
    width: 25px;
}


/**Button CSS**/

button {
    width: 200px;
    height: 45px;
    background-color: rgb(0, 115, 160);
    border: none;
    color: white;
    border-radius: 4px;
    font-family: Poppins;
    font-weight: semi-bold;
    font-size: 16px;
}

button:hover {
        background: rgb(2, 102, 141);
    color: white;
}

/**Navigation Logo**/

.logo {
    height: 40px;
    border-radius: 50px;
}



/**Footer**/

footer {
    background-color:rgb(44, 101, 124);
    height: 200px;
    padding: 10px;


    text-align: center;
    color: white;
    font-style: italic;
    font-weight: 300;
    font-family: Merriweather;

}

.quote {
    padding-left: 100px;
    padding-right: 100px;
}

.footer-socials {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 250px;
}
.footer-socials-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}
/*UX_UI_HW_18*/

/*My UX Skills Start*/
h1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Poppins;
    font-weight: bold;
    font-size: 40px;
    color:rgb(20, 20, 20)

}

.flexContainer {
    display: flex;
    margin: auto;
    justify-content: center; 
    
}

#mySkills {
    height: 600px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.skills-title {
    
}
.flexDiv{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(20, 20, 20,);
    background-color: rgb(250, 250, 250);
    border-radius: 4px;
    height: 320px;
    width: 250px;
    margin: 20px;
}

/*My UX Skills End*/

/*My Work Starts Here */

/* CSS Styles for Grid Template */
#myWork {
    height: 1500px;
}


.myWork-center {
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.workGrid { 
    display: grid;
    margin: auto;
    grid-template-rows: 650px 650px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "projectOne projectTwo"
    "projectThree projectFour"
    ;
    

}

.projectOne {
    padding: 25px;
    margin: auto;
}

.projectTwo {
    padding: 25px;
    margin: auto;
}

.projectThree {
    padding: 25px;
    margin: auto;
}

.projectFour {
    padding: 25px;
    margin: auto;
}

section {
    margin: auto;
    padding: 25px;
}




.studyButton {
    display: flex;
    padding: 25px;
    justify-content: center;

}

@media screen and (max-width: 600px) {
    .workGrid {
        margin-bottom: 300px;
        margin-top: 300px;
        grid-template-rows:  600px 600px 600px 600px;
        grid-template-columns: 1fr;
        grid-template-areas:
        "projectOne"
        "projectTwo"
        "projectThree"
        "projectFour"
    ;}

    .flexContainer {
        display: grid;
        margin-top: 300px;
        margin-bottom: 300px;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "flexDiv1"
        "flexDiv2"
        "flexDiv3"
        ;
    }

    #contactMe{
        display: grid;
        margin-top: 500px;
        margin-bottom: 300px;
        grid-template-rows: 600px ;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "contact-title"
        "contact-center"
        ;
    }
}

/**Contact Us**/
#contactMe {
    background-color:white;
    height: 800px;
}
.contact {
    width: 500px;
    background-color: rgb(250, 250, 250);
    border-radius: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(20, 20, 20);
}
.contact-title {
    text-align: center;
}
.contact-p {
    padding-left: 25px;
}
.contact-right {
    text-align: left;
    padding-left: 25px;
    padding-bottom: 25px;
}
.contact-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 100px;
}

label {
    width: 450px;
}
input {
    width: 450px;
    font-family: 'Poppins', sans-serif;
    color: darkgray;
}
#msg {
    height: 100px;
}
input[value="Type Message Here"] {
    text-align: start;
}

html {
    scroll-behavior: smooth;
}